body {
	font-family: Arial;
	font-size: 22px;
	color: #666;
	text-align: left;
	margin: 30px;

}


a {
	color: #5c8e9c;
	text-decoration: none;
}

p {
	color: #666;
}

a:hover {
	text-decoration: underline;
}

#logo {
	float: left;
	margin-top: 30px;
	margin-left: 5px;
	background: #FFF;
	border-radius:10px;
	-moz-border-radius: 10px;
    border-top-left-radius : 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius : 10px;
    -moz-border-radius-topright: 10px;
	border: 1px solid #FFF;
	padding: 5px;
}

#menu {
	float: left;
	margin-top: 45px;
}


#menu span {
	color: #666;
	text-shadow: #fff 0px 1px 0px;
	font-size: 14px;
	display: block;
	float: left;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	text-transform: inherit;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;

}



#header {
	width: 950px;
	height: 300px;
	margin-left: 5px;
	float: left;
	background: #99c6cf;
	border: 3px solid #fff;
}

#header img {
	padding: 10px;
}

#title_head {
	float: left;
	width: 500px;
	font-family: Arial;
	padding: 10px;
}

#title_head h2 {
	color: #5c8e9c;
	font-size: 32px;
	font-family: Arial;
	text-shadow: #FFF 0px 1px 0px;
}

#title_head span {
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	line-height: 26px;
	text-align: justify;
	text-shadow: #5c7075 0px 1px 0px;
}

#title_head a {
	color: #fff;
	background:  #5c8e9c;
	font-size: 12px;
	font-weight: bold;
	text-transform: inherit;
	padding: 5px 10px 5px 10px;
	-webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.margin1 {
	margin-left: 15px;
}

.margin2 {
	margin-left: 40px;
}

.margin3 {
	margin-left: 20px;
}

h2 {
	font-size: 22px;
	font-weight:normal;
	color: #b10d0d;
}

#footer, #footer p {
	float: left;
	font-size: 12px;
	color: #5c8e9c;
	padding-left: 10px;
}

#footer a {
	color: #777;
}