{% extends 'main.html' %}
{% block content %}
<div class="row justify-content-center d-flex h-100 align-items-center">
    <div class="col-sm-12 col-md-8 col-lg-3 h-full ">
        <div class="card border-4 border-primary ">
            <div class="card-header text-center  border-primary border-4 text-primary ">
                Zaloguj się
            </div>
    <form method="POST">
        {% csrf_token %}
        <br>
<div class="input-group mb-3 px-4">

        <input type="text" class="form-control border-primary " name="username" placeholder="Użytkownik">
</div>
        <div class="input-group mb-3 px-4">
            <input type="password" class="form-control border-primary " name="password" placeholder="Hasło">

    </div>
        <div class="input-group mb-3 justify-content-center">
        <input type="submit" class="btn btn-primary" name="zaloguj" value="zaloguj">
        </div>
    </form>
        </div>
    </div>
</div>
{% endblock %}