<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wykaz Farb</title>
</head>
<body>
    <h1>Wykaz Farb</h1>
    <p>Przeglądaj według producentów
        <ol>
            <li><a href="katalog/1">Citadel</a></li>
            <li><a href="katalog/2">Vallejo</a></li>
            <li><a href="katalog/3">Tamiya</a></li>

        </ol>
    </p>
    <p>Przeglądaj według rodzajów
        <ol>
            <li><a href="katalog/type/1">Regular</a></li>
            <li><a href="katalog/type/2">Wash</a></li>
            <li><a href="katalog/type/3">Ink</a></li>
            <li><a href="katalog/type/4">Contrast</a></li>
            <li><a href="katalog/type/5">Spray</a></li>
            <li><a href="katalog/type/6">Other</a></li>


        </ol>

    </p>

</body>
</html>