{% extends 'main.html' %}
{% block content %}
    <h1>
        Twoje kolekcja farb:
    </h1>


            {% for paint in kolekcja %}
                <div class=" col-md-2 col-6 p-1">
                    <a href="/odpowiedniki/{{ paint.id }}"typeof="button" class="btn btn-secondary h-100 w-100 border-0 text-secondary"  style="background: #{{ paint.hex.Hex_Code }}" type="button"
{#                            data-bs-toggle="collapse"#}
{#                            data-bs-target="#collapse{{ collapse }}" aria-expanded=""#}
{#                            aria-controls="collapse{{ collapse }}"#}
                    >{{ paint }}
{#                        #}

                    </a>
                </div>

            {% endfor %}



{% endblock %}