{% extends 'main.html' %}
{% block content %}
    <h1>
        Twoje zestawy farb
    </h1>
    <div class="d-flex justify-content-left">
    <ol class="list-group ">
        {% for zestaw in farby %}
            <ul class="list-group-item border-0">
                {% for pozycja1 in zestaw|slice:":1" %}
                  <li class="list-group-item  list-group-item-primary my-1 border-0" >{{ pozycja1.name }}

                        {% for pozycja2 in zestaw|slice:"1:" %}
                            {% for element in pozycja2 %}
                        <li class="list-group-item list-group-item-primary border-0 ">{{ element }}</li>
                            {% endfor %}
                    </li>
                {% endfor %}
                {% endfor %}
            </ul>
        {% endfor %}
    </ol>
    </div>
    <form method="POST">
        {% csrf_token %}
        <h2>Dodaj zestaw farb:</h2>
        <p>
            <label for="id_text_input">Nazwa nowego zestawu</label>
            <input id="id_text_input" type="text" name="text_input" value="">
            <button type="submit" name="button1" value="Dodaj">Dodaj</button>
        </p>
    </form>
        {% for farba in kolekcja %}
            <li>{{ farba }}</li>
        {% endfor %}

{% endblock %}



