{% extends 'main.html' %}
{% block content %}
    <h1>
        Twoje zestawy farb
    </h1>
    <div class="col col-lg-4 col-12 justify-content-between">
        <div class="accordion " id="accordion">
            {% for zestaw in farby %}
                {% with collapse=forloop.counter %}
                    <div class="col-12 p-1">
                    <div class="accordion-item  border-secondary border-4 w-100">
                    {% for pozycja1 in zestaw|slice:":1" %}

                        <h2 class="accordion-header ">
                            <button class="accordion-button   text-secondary bg-white " type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ collapse }}" aria-expanded="true"
                                    aria-controls="collapse{{ collapse }}">
                                {{ forloop.count }}
                                {{ pozycja1.name }}
                            </button>
                        </h2>
                    {% endfor %}
                    <div id="collapse{{ collapse }}" class="accordion-collapse collapse w-100" data-bs-parent="#accordion">
                    <div class="accordion-body w-100">
                            <div class="row w-100 ">
                        {% for pozycja2 in zestaw|slice:"1:" %}
                            {% for element in pozycja2 %}

                                <div class="col-6 p-1">
                                <a href="/odpowiedniki/{{ element.id }}" typeof="button" class="btn btn-secondary w-100 h-100 border-0 text-secondary"  style="background: #{{ element.hex.Hex_Code }}" type="button">{{ element }}</a>
                                </div>

                            {% endfor %}
                            </div>
                        {% endfor %}


                    </div>
                {% endwith %}
            </div>
            </div>
            </div>
            {% endfor %}


            <div class="justify-content-between">
                <div class="accordion-item justify-content-between border-0 py-4">
                    <form method="POST">
                        {% csrf_token %}
                        <h2>Dodaj zestaw farb:</h2>

                        <div class="form-group justify-between d-flex">
                            <input class="form-control input-sm" id="id_text_input" type="text" name="text_input"
                                   value="" placeholder="Nazwa nowego zestawu">
                            <button class="btn btn-secondary" type="submit" name="button1" value="Dodaj">Dodaj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
